# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Ігнорувати файли README

Readme-request.md

🐾 Хатинка Лапок
Вебзастосунок для пошуку та прилаштування домашніх тварин.

📖 Про проєкт
«Хатинка Лапок» — це вебсайт, який допомагає користувачам знайти собі пухнастого друга.
На сайті можна переглядати доступних тварин, дізнаватися детальну інформацію про них та залишати заявку,
 щоб взяти тварину додому.

✨ Основні можливості
Перегляд списку домашніх улюбленців.
Пошук та фільтрація домашніх улюбленців.
Детальна інформація про кожну тварину.
Форма для оформлення заявки.
FAQ секція з відповідями на поширені запитання.
Історії успішного прилаштування тварин.
Адаптивний дизайн для різних пристроїв.

🛠 Технології
HTML5
CSS3
JavaScript
Vite
Axios
API Pets API docs
Swiper.js
Accordion
Sweetalert2 
Basiclightbox 
Css-star-rating
Raty.js
trello


🏗 Структура сторінки
Header + Navbar
Hero Section
Pets List Section
About Us Section
FAQ Section
Success Stories Section
Animal Details Modal
Order Modal
Footer

🚀 Запуск проєкту
Клонувати репозиторій:
        git clone <посилання-на-репозиторій>
Перейти до папки проєкту:
        cd project-name
Встановити залежності:
        npm install
Запустити локальний сервер:
        npm run dev

🌐 API 
Pets API docs
1.0.3 
OAS 3.0

👩‍💻 Автор - (alsydoruk642-hash) Oleksandr Sydoruk і команда!

✅ Live Demo - https://alsydoruk642-hash.github.io/project-Home_Friends/
✅ GitHub Repository - (https://github.com/alsydoruk642-hash/project-Home_Friends)
✅ API Documentation (https://paw-hut.b.goit.study/api-docs/)

Проєкт виконано в рамках навчання Front-End розробці.
© 2026 Хатинка лапок. Всі права захищені.

