<header class="header" data-modal>
  <div class="header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <svg class="icon-logo" width="157" height="51">
          <use href="../public/sprite.svg#icon-logotype"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#pets" class="nav-link carrent">Знайди друга</a>
        </li>
        <li class="nav-item"><a href="#about" class="nav-link">Про нас</a></li>
        <li class="nav-item">
          <a href="#faq" class="nav-link">Часті запитання</a>
        </li>
        <li class="nav-item">
          <a href="#stories" class="nav-link">Історії успіху</a>
        </li>
      </ul>
    </nav>
    <button class="friend-btn" type="button">Взяти друга</button>
    <button class="burger-btn" type="button" data-modal-open>
      <svg class="icon-burger" width="24" height="24">
        <use href="../public/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
