<!-- Header -->
<header class="header" data-modal>
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html" aria-label="Home page">
        <svg class="icon-logo" width="157" height="51">
          <use href="./sprite.svg#icon-logotype"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a
            href="#pets-list"
            class="nav-link carrent"
            aria-label="Знайти друга"
            >Знайди друга</a
          >
        </li>
        <li class="nav-item">
          <a href="#about-us" class="nav-link" aria-label="Про нас">Про нас</a>
        </li>
        <li class="nav-item">
          <a href="#faq" class="nav-link" aria-label="Часті запитання"
            >Часті запитання</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#success-stories"
            class="nav-link"
            aria-label="Історії успіху"
            >Історії успіху</a
          >
        </li>
      </ul>
    </nav>
    <div class="btn-control">
      <button
        class="friend-btn"
        onclick="location.href = '#pets-list'"
        aria-label="Взяти друга"
      >
        Взяти друга
      </button>
      <button class="button-theme">
        <svg class="icon-theme" width="24" height="24">
          <use href="./sprite.svg#icon-light"></use>
        </svg>
      </button>
      <button
        class="burger-btn"
        type="button"
        data-modal-open
        aria-label="Відкрити меню"
      >
        <svg class="icon-burger" width="24" height="24">
          <use href="./sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
