*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
