/* #region (**This Name your Section**) Mobile */
.footer {
  width: 100%;
  /* margin: auto; */
  background-color: #c3b49d;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-logo {
  margin: 0 auto;
  width: 298px;
  height: 97px;
  transition: transform 0.3s ease;
}
.footer-logo:hover,
.footer-logo:focus,
.footer-logo:active {
  transform: scale(1.05);
}
.footer-logo-link {
  display: flex;
  justify-content: center;
}
.nav-footer-container {
  display: flex;
  flex-direction: column;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}
.nav-social-link-container {
  margin-top: 32px;
}
.footer-nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: #02060a;
}
.footer-nav-link {
  text-decoration: none;
}
.footer-nav-link:focus,
.footer-nav-link:hover {
  text-decoration-line: underline;
}
.footer-nav-link:active {
  color: #88765c;
  text-decoration-line: underline;
}
.footer-nav-link:disabled {
  color: #02060a;
  pointer-events: none;
  opacity: 0.3;
}
.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 80px;
}
.footer-social-icon {
  transition: transform 0.3s ease;
}
.footer-social-icon:hover,
.footer-social-icon:focus,
.footer-social-icon:active {
  transform: scale(1.05);
}

.footer-line {
  border: none;
  border-top: 1px solid rgba(2, 6, 10, 0.15);
  margin: 0;
}
.footer-copyright {
  margin-top: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #02060a;
}

/* #endregion **This Name your Section**) Mobile */

/* #region **This Name your Section**) Tablet */
@media screen and (min-width: 768px) {
  .footer-logo {
    width: 302px;
    height: 129px;
  }
  .footer-nav-list {
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }
}
/* #endregion **This Name your Section**) Tablet \*/

/* #region **This Name your Section**) Desktop */
@media screen and (min-width: 1366px) {
}
/* #endregion **This Name your Section**) Desktop \*/
