/* плавне появлення елементів */
.fade-in-element {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 800ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-in-element.visible {
  opacity: 1;
  transform: translateY(0);
}

/* HERO для екранів від 320px до 767px*/
.hero {
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  padding-top: 64px;
  padding-bottom: 80px;
  background-color: #f4f4f4;
  background-image:
    linear-gradient(to right, rgba(62, 54, 38, 0.74), rgba(62, 54, 38, 0)),
    url('../img/webp/hero-mobil.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Мобільна ретіна */
@media screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image:
      linear-gradient(to right, rgba(62, 54, 38, 0.74), rgba(62, 54, 38, 0)),
      url('../img/webp/hero-mobil@2.webp');
  }
}

.hero-container {
  text-align: left;
}

.hero-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #ffffff;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.hero-description {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 32px;
  letter-spacing: -1px;
  max-width: 310px;
}

.hero-button {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  height: 45px;
  width: 171px;
  white-space: nowrap;
  background-color: #88765c;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #eee9e3;
  color: #02060a;
}

.hero-button:active {
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

/*TABLET Вмикається від 768px */
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 64px;
    padding-bottom: 230px;
    background-image:
      linear-gradient(to right, rgba(62, 54, 38, 0.74), rgba(62, 54, 38, 0)),
      url('../img/webp/hero-tablet.webp');
  }

  .hero-title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
    max-width: 622px;
  }

  .hero-description {
    font-size: 16px;
    max-width: 440px;
    margin-bottom: 40px;
    line-height: 1.5;
    max-width: 530px;
    letter-spacing: 0px;
  }
}

/* Планшетна ретіна */
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image:
      linear-gradient(to right, rgba(62, 54, 38, 0.74), rgba(62, 54, 38, 0)),
      url('../img/webp/hero-tablet@2.webp');
  }
}

/* HERO DESKTOP Вмикається від 1440px */
@media screen and (min-width: 1366px) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 1440px;
    background-image:
      linear-gradient(to right, rgba(62, 54, 38, 0.74), rgba(62, 54, 38, 0)),
      url('../img/webp/hero-desktop.webp');
  }

  .hero-container {
    padding-top: 128px;
    padding-bottom: 413px;
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-description {
    font-size: 18px;
  }

  .hero-button {
    font-size: 16px;
    width: 189px;
    height: 48px;
  }
}

/* Десктопна ретіна */
@media screen and (min-width: 1366px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image:
      linear-gradient(to right, rgba(62, 54, 38, 0.74), rgba(62, 54, 38, 0)),
      url('../img/webp/hero-desktop@2.webp');
  }
}
