.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  opacity: 0;
  visibility: hidden;
  z-index: 999;

  transition:
    opacity 250ms ease,
    visibility 250ms ease;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 20px 80px;

  width: 100%;
  height: 100%;
  overflow-y: auto;

  background-color: var(--bg-card);

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms ease;

  z-index: 1000;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.no-scroll {
  overflow: hidden;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  flex-shrink: 0;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.close-btn {
  width: 48px;
  height: 48px;
fill: var(--text-primary)
  border: none;
  background-color: transparent;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.mobile-list {
  list-style: none;
fill: var(--text-primary)
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding-top: 24px;
  padding-bottom: 64px;
  margin: 0;

  flex-grow: 1;

  font-family: 'IBMPlexSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #02060a;
}

.mobile-list a {
  color: inherit;
  text-decoration: none;
}

.menu-friend-btn {
  width: 100%;
  height: 37px;

  margin-top: auto;

  border: 1px solid var(--btn-border);
  border-radius: 8px;

  background-color: var(--btn-bg);
  color: var(--btn-text);

  font-family: IBMPlexSans-Regular;
  font-size: 14px;
  line-height: 1.5;

  cursor: pointer;
  transition: all 250ms ease;
}

.menu-friend-btn:hover,
.menu-friend-btn:focus {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}
.menu-friend-btn:active {
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    padding: 0 32px 32px;
  }

  .mobile-list {
    text-align: center;
  }

  .menu-friend-btn {
    width: 196px;
    margin: auto auto;
  }
}

@media screen and (min-width: 1366px) {
  .backdrop,
  .mobile-menu {
    display: none;
  }
}
