/* #region (**This Name your Section**) Mobile */
.success-stories {
  padding-top: 64px;
  padding-bottom: 64px;
}

.success-stories-title {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
}
.success-stories-subtitle {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}

.success-stories-rate {
  display: flex;
  padding-bottom: 32px;
}
.success-stories-text {
  font-family: 'IBMPlexSans-Regular', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}
.success-stories-author {
  font-family: 'IBMPlexSans-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.swiper-buttons.success-swiper-buttons {
  display: flex;
  gap: 16px;
}
.swiper-button-next.success-button-next,
.swiper-button-prev.success-button-prev {
  border: 1px solid #c3b49d;
  border-radius: 8px;
  padding: 12px;
  position: static;
}

.swiper-button-next.success-button-next:hover,
.swiper-button-prev.success-button-prev:hover,
.swiper-button-next.success-button-next:focus,
.swiper-button-prev.success-button-prev:focus {
  border: 1px solid rgba(2, 6, 10, 0.6);
}
.swiper-button-next.success-button-next:active,
.swiper-button-prev.success-button-prev:active {
  border: 1px solid rgba(2, 6, 10, 0.6);
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background: #eee9e3;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
  border: 1px solid #f6f4f1;
  background: #eee9e3;
  display: inline-block;
}
/* .swiper-button.success-stories-disabled {
  /* border: 1px solid #f6f4f1;
  background: #eee9e3;
  opacity: 0.4;
  pointer-events: none; */

.swiper-controls.success-swiper-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper-pagination.success-swiper-pagination {
  position: static;
  width: auto;
  display: flex;
}

.success-stories .swiper {
  --swiper-theme-color: #02060a;
}

.success-stories-title {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}
.success-stories-subtitle {
  line-height: 1.5;
  text-align: center;
}

.success-stories-rate {
  display: flex;
  padding-bottom: 32px;
}
.success-stories-text {
  font-family: 'IBMPlexSans-Regular', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.success-stories-author {
  font-family: 'IBMPlexSans-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}
.swiper-buttons.success-swiper-buttons {
  display: flex;
  gap: 16px;
}
.swiper-button-next.success-button-next,
.swiper-button-prev.success-button-prev {
  border: 1px solid #c3b49d;
  border-radius: 8px;
  padding: 12px;
  position: static;
}

.swiper-button-next.success-button-next:hover,
.swiper-button-prev.success-button-prev:hover,
.swiper-button-next.success-button-next:focus,
.swiper-button-prev.success-button-prev:focus {
  border: 1px solid rgba(2, 6, 10, 0.6);
}
.swiper-button-next.success-button-next:active,
.swiper-button-prev.success-button-prev:active {
  border: 1px solid rgba(2, 6, 10, 0.6);
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background: #eee9e3;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
  border: 1px solid #f6f4f1;
  background: #eee9e3;
  display: inline-block;
}

.swiper-pagination.success-swiper-pagination {
  position: static;
  width: auto;
  display: flex;
}

.success-stories .swiper {
  --swiper-theme-color: #02060a;
}
.mySwiper
  .swiper-pagination.success-swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
  left: auto;
  transform: none;
  width: 120px !important;
}

.mySwiper
  .swiper-pagination.success-swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullet:active {
  width: 120px;
}

/* #endregion **This Name your Section**) Mobile */

/* #region **This Name your Section**) Tablet */
@media screen and (min-width: 768px) {
  .mySwiper
    .swiper-pagination.success-swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 80px;
  }
}
/* #endregion **This Name your Section**) Tablet \*/

/* #region **This Name your Section**) Desktop */
@media screen and (min-width: 1366px) {
  .mySwiper
    .swiper-pagination.success-swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 80px;
  }
  .success-stories-title {
    font-size: 48px;
  }
  .success-stories-subtitle {
    font-size: 18px;
  }
  .success-stories-text {
    font-size: 20px;
  }
  .success-stories-author {
    font-size: 16px;
  }
  .success-stories-text {
    max-width: 640px;
  }
}
/* #endregion **This Name your Section**) Desktop \*/

.mySwiper
  .swiper-pagination.success-swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
  left: auto;
  right: auto;
  transform: none;
}
